body {
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	font-family: 'Cinzel', serif;

}
a:link {color:#F92672;}      /* unvisited link */
a:visited {color:#F92672;}  /* visited link */
a:hover {color:#F92672;}  /* mouse over link */
a:active {color:#F92672;}  /* selected link */
.nav li a {
	margin-top: 25px;
}
#popUpAd {
	color: #666666;
}
#popUpAd .modal-header {
	background: #000;
	font-size: 18px;
	text-align: center;
	border-bottom: 0px;
}
#popUpAd .modal-header h4 {
	font-weight: bold;
}
#popUpAd .modal-header .close {
	color: #666666;
}
#popUpAd .modal-body {
	background: #000;
	font-size: 18px;
	text-align: center;
}
.popUpAdClose {
	font-size: 14px;
	color: #ffffff;
	text-align: right;
}
.popUpAdClose a {
	color: #fff;
	text-decoration: none;
}
#productsResults {
	margin-top: 10px;
}
.products-thumb {
	min-height: 375px;
}